.center{
  display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.controls {
	.col-xs-1{
		padding: 0;
		input{
			height: 30px;
    	margin-bottom: 10px;
			display: flex
		}
	}
	.row{
		margin-bottom: 10px;
	}
}


.photo {
  width:100%;
//  float:left;
//	min-width: 640px;
	height: auto;
	margin: 50px auto;
	margin-bottom: 10px;
}

.player {
  position: absolute;
  top:15px;
  right: -80px;
  max-width:200px;
}

/*
  Strip!
*/

.strip {
  padding:2rem;
	img {
		margin: 15px 0;
    padding: 2px;
		margin: 5px;
		width: 20%;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 2px;
    transition: 0.3s ease-in-out;
		
		&:hover {
			transform: translateY(-2px);
    	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
    	cursor: pointer;
		}
	}
}
//.strip img {
//  width:100px;
//  overflow-x: scroll;
////  padding:0.8rem 0.8rem 2.5rem 0.8rem;
//  box-shadow:0 0 3px rgba(0,0,0,0.2);
//  background:white;
//}

.strip a:nth-child(5n+1) img { rotate: 10deg; }
.strip a:nth-child(5n+2) img { rotate: -2deg; }
.strip a:nth-child(5n+3) img { rotate: 8deg; }
.strip a:nth-child(5n+4) img { rotate: -11deg; }
.strip a:nth-child(5n+5) img { rotate: 12deg; }