<!-- Header -->

<!--This header was made based on Mike Mangialardi personal portfolio page on codepen http://codepen.io/mikemang/pen/mRddzG-->
<div class="intro-header homeHeader">
  <div class="container">

    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h1 class="animated bounceInDown">Bang Nguyen</h1>
          <h3 class="animated lightSpeedIn">junior front-end developer</h3>


        </div>
      </div>
    </div>
  </div>
  <div class="text-center my-icon">
    <a target='_blank' href="https://github.com/BangNguyen1992">
      <i id="scale" class="icon-one fa fa-github fa-3x" aria-hidden="true"></i>

    </a>

    <a class=" " target='_blank' href="https://linkedin.com/in/bangnguyen1992">
      <i id="scale" class="icon-two fa fa-linkedin fa-3x" aria-hidden="true"></i>
    </a>

    <a class="" target='_blank' href="mailto:nguyenbahaibang@gmail.com">
      <i id="scale" class="icon-three fa fa-envelope fa-3x" aria-hidden="true"></i>
    </a>
  </div>
  <div id="static" class="infinite pulse animated center-btm" style="z-index:3">
    <a data-href="#aboutMe" class="arrow btn-circle pointer page-scroll">
      <i class="fa fa-angle-double-down infinite pulse animated"></i>
    </a>
  </div>
</div>

<!--				SCHOOL-->
<div class="content-section-c">
  <section id="aboutMe" class="cardView">
    <div class="container hover">

      <div class="row">
        <div class="col-lg-12 text-center ">
          <h2 class="section-heading ">Not just a developer</h2>
          <p>Attending both Business and Technology school help me understand the business concept as well as the ability to code</p>
          <br>
          <div class="flex-container">
            <div class="flex-item">
              <a target='_blank' href="https://linkedin.com/in/bangnguyen1992">
                <img src="./img/laurea.jpg" alt="Laurea" />
              </a>
            </div>
            <div class="flex-item">
              <a target='_blank' href="https://linkedin.com/in/bangnguyen1992">
                <img src="./img/metropolia.jpg" alt="Metropolia" />
              </a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="text-center ">
      <div class="infinite pulse animated">
        <a data-href="#aboutMe2" class="arrow btn-circle pointer page-scroll">
          <i class="fa fa-angle-double-down infinite pulse animated"></i>
        </a>
      </div>
    </div>
  </section>
</div>

<!--ABOUT ME 2-->
<div id="aboutMe2" class="content-section-b">
  <section class=" flex-column">
    <div class="container">

      <div class="row">
        <div class="col-lg-12 text-center ">
          <h2 class="section-heading " style="color:white">Multipotentialite</h2>
          <p style="color:white">There are a lot of thing I want to try out, in the beginning, I want to build my own website, and make it become more lively, more vivid. After that, I have taken an interested in image and video editing, then 2D & 3D animation, WebGL, and even
            automation, etc…</p>
          <br>
          <div class="flex-container">
            <div class="flex-item border">
              <div class="flex-item ">
                <a target='_blank' href="https://github.com/titay2/StepUp">
                  <img src="./img/android.jpg" alt="Android" style="max-width: 100%;" />
                </a>
              </div>
              <h5>Android: StepUp - StepCounter</h5>
            </div>
            <div class="flex-item border">
              <div class="flex-item ">
                <a target='_blank' href="https://github.com/BangNguyen1992/Polaris-IndoorNavigation">
                  <img src="./img/ios.jpg" alt="iOS" style="max-width: 100%;" />
                </a>
              </div>
              <h5>iOS: Polaris - Indoor Navigation</h5>
            </div>

            <div class="flex-item border">
              <div class="flex-item ">
                <a target='_blank' href="https://asuna-test.herokuapp.com/">
                  <img src="./img/live2d.jpg" alt="WebGL" style="max-width: 100%;" />
                </a>
              </div>
              <h5>WebGL: Live2D interaction</h5>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="infinite pulse animated " style="margin: auto;">
      <a data-href="#mySkill" class="arrow btn-circle pointer page-scroll">
        <i class="fa fa-angle-double-down infinite pulse animated"></i>
      </a>
    </div>
  </section>
</div>

<div class="content-section-c">
  <section class="cardView">
    <div id="mySkill" class="container" style="margin-bottom:3rem;">

      <!--		FRONT-END-->
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2 class="section-heading">Front-end</h2>
        </div>
      </div>
      <div class="flex-container" style="margin-bottom: 50px">
        <div class=" flex-item">
          <img src="./img/es6.png" class="cardItem" style="max-width: 180px;">
          <h4>JavaScript</h4>
        </div>
        <div class=" flex-item">
          <img src="https://cdn.auth0.com/styleguide/latest/lib/circle-logo/img/angular.svg" class=" cardItem">
          <h4>AngularJS</h4>
        </div>

        <div class="flex-item">
          <img src="./img/react.png" class="cardItem" style="max-width: 180px; ">
          <h4>React</h4>
        </div>
      </div>

      <!--BACK-END-->
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2 class="section-heading">Back-end</h2>
        </div>
      </div>
      <div class="flex-container">
        <div class="flex-item">
          <img src="./img/nodejs.png" class="cardItem">
          <h4>NodeJS</h4>
        </div>
        <div class="flex-item">
          <img src="./img/java.jpg" class="cardItem" style="background-color: rgba(0, 0, 0, 0.7);">
          <h4>Java</h4>
        </div>
      </div>


    </div>

    <div class="text-center">
      <div class="infinite pulse animated">
        <a data-href="#motto" class="arrow btn-circle pointer page-scroll">
          <i class="fa fa-angle-double-down infinite pulse animated"></i>
        </a>
      </div>

    </div>
  </section>
</div>
<!--FLEX BOX-->
<div class="content-section-b  ">
  <section class="cardView">
    <div id="motto" class="container">
      <div class="row">
        <div class="col-xs-12 text-center">
          <h2 class="section-heading">My Motto</h2>
        </div>

      </div>
      <div class="panels">
        <div class="slide-in e panel panel1">
          <p>Hello</p>
          <p>Today</p>
          <p>Morning</p>
        </div>
        <div class="slide-in d panel panel2">
          <p>to give</p>
          <p>Is</p>
          <p>to Receive</p>
        </div>
        <div class="slide-in c panel panel3">
          <p>Take</p>
          <p>A</p>
          <p>Breath</p>
        </div>
        <div class="slide-in b panel panel4">
          <p>Explore</p>
          <p>New</p>
          <p>World</p>
        </div>
        <div class="slide-in a panel panel5">
          <p>Life is</p>
          <p>Day</p>
          <p>Motion</p>
        </div>
      </div>
    </div>
  </section>
</div>

<section class="text-center more" style="padding-top: 0px">
  <h3>Interesting?</h3>
  <div class="btn-project">
    <a type="button" ui-sref="projects">Check out my other projects</a>
  </div>
</section>

<!--
<script>
	$('a.page-scroll').on('click', function (event) {
		var $anchor = $(this);
		//					console.log(this)
		$('html, body').stop().animate({
			scrollTop: ($($anchor.attr('data-href')).offset().top - 50)
		}, 650, 'easeInOutExpo');
		event.preventDefault();
	});
</script>-->

<script>
  const width = document.documentElement.clientWidth;

  if (width > 1024) {
      $(".homeHeader").jParticle({
      color: "#fff",
      background: "transparent",
      particlesNumber: 80,
      createLinkDist: 200,
      linksWidth: 1,
      particle: {
        speed: 70,
      }

    });
    $("canvas:first").addClass('particle');
  }
</script>