<div class="bg-white ">
	<div class="header gradientHeader">
		<!--	<div class="container">-->
		<div class="intro-text">
			<!--				<div class="intro-lead-in">Welcome To Our Studio!</div>-->
			<div class="intro-heading">S i m p l e &nbsp;&nbsp; g r a d i e n t &nbsp;&nbsp; E f f e c t </div>

		</div>
		<!--		</div>-->
	</div>

	<div class="container">
		<!-- Add your site or application content here -->

		<div class="row">
			<div class="col-xs-12 col-sm-6" id="imgContainer">
				<canvas id="myCanvas" style="width:100%; height: auto;" class="imagedropshadow">
					<!-- Insert fallback content here -->

				</canvas>

				<label class="btn upload">
					<input type="file" onchange="angular.element(this).scope().setImageFile(this)" /> Upload image
				</label>
			</div>

			<div class="col-xs-12 col-sm-6">
				<h3>Gradient Effect</h3>
				<p class="text-muted" style="font-style: italic;">Remember to choose the transparent level if you want to apply gradient effect on your picture</p>
				<div class="row">
					<div class="col-xs-6">
						Choose Top Gradient color
					</div>
					<div class="col-xs-2" style="padding-top: 5px;">
						<button colorpicker="rgba" colorpicker-position="top" class="color-picker" ng-model="gradientTop" style="background-color:{{gradientTop}}" ng-change="gradientAdjust()" value="gradientTop"></button>
					</div>
				</div>

				<div class="row">
					<div class="col-xs-6">
						Choose Bottom Gradient color
					</div>
					<div class="col-xs-2" style="padding-top: 5px;">
						<button colorpicker="rgba" colorpicker-position="top" class="color-picker" ng-model="gradientBottom" style="background-color:{{gradientBottom}}" ng-change="gradientAdjust()" value="gradientBottom"></button>
					</div>
				</div>

			</div>
			<div class="row">
				<div class="col-xs-12 text-center">
					<a class="btn upload btn-default" download="edited" ng-href="{{url}}" ng-click="saveImage()">Save image</a>
				</div>
			</div>
		</div>
	</div>
</div>