<div class="moleGame">

	<div class="img-editor bg-white">
		<div class="header">
			<div class="intro-text">
				<div class="intro-heading">w h a c k &nbsp;&nbsp; a &nbsp;&nbsp; m o l e !! </div>

			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<h1>Whack-a-mole! <span class="score">0</span></h1>
			<button ng-click="startGame()">Start!</button>

			<div class="game">
				<div class="hole hole1">
					<div class="mole"></div>
				</div>
				<div class="hole hole2">
					<div class="mole"></div>
				</div>
				<div class="hole hole3">
					<div class="mole"></div>
				</div>
				<div class="hole hole4">
					<div class="mole"></div>
				</div>
				<div class="hole hole5">
					<div class="mole"></div>
				</div>
				<div class="hole hole6">
					<div class="mole"></div>
				</div>
			</div>


		</div>
	</div>
</div>